.super-mario{
    width: 300px;
    position:absolute;
    z-index: 1;
}
.goomba{
    width: 150px;
    z-index: 2;
    position: absolute;
    margin-top: 390px;
    margin-left: 170px;
}
.bowser{
    width: 300px;
    z-index: 3;
    position:absolute;
    margin-left: 600px;
}
.baloon{
    width: 150px;
    z-index: 4;
    position:absolute;
    margin-left: 400px;
}
.word{
    width: 100px;
    z-index: 5;
    position: absolute;
    margin-left: 430px;
    margin-top: 25px;
}